@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}
html{
    scroll-behavior: smooth;
}
*::selection{
    background: #000;
    color: #4451e2;
}
p, a{
    font-size: 20px;
}
.hero{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.herotext{
    margin-left: 3rem;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -40%);
}
.herotext h1{
    margin-top: 1rem;
    font-size: 40px;
}
.herotext span{
    color: #008a79;
}
.btn{
    margin: 2rem 0rem;
    background: none;
    border: none;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: .65rem 1.5rem;
    transition: all .25s;
}
.btn a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.btn:hover{
    letter-spacing: 15px;
}
/*ABOUT SECTION*/
.about{
    background: #00606c;
    height: 100%;
    width: 100%;
}
.heading{
    color: white;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.6rem;
}
.aboutcontent{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 30px;
    color: white;
}
.aboutimg img{
    width: 500px;
    height: 400px;
    margin-right: 1rem;
}
.abouttext{
    margin: .6rem 4rem;
    color: white;
}
.aboutbtn{
    color: white;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.aboutbtn a{
    color: #fff;
}
/*PROJECTS */
.projects{
    min-height: 100vh;
    background-color: #fff;
}
.project-content{
    display: flex;
    flex-direction: row;
}
.projecttext{
    margin: 1rem 5rem;
}
.projecttext h1{
    margin-bottom: 1.5rem;
}
.projectimg img{
    width: 600px;
    height: 350px;
    margin-right: 0rem;
}
.btntwo{
    background: none;
    border: 2px solid #000;
    padding: .65rem 1.5rem;
    margin: 0rem 1rem;
}
.btntwo a{
    color: black;
    text-decoration: none;
}
.btntwo:hover{
    background: #000;
    color: white;
}
.project-btn-one:hover{
    letter-spacing: 9px;
}
.btntwo a:hover{
    color: white;
}

/*CONTACT*/
.contact{
    background: #00606c;
    color: white;
    height: 40vh;
}
.contactsvg{
    display: none;
}
.heading h1{
    padding-top: 2rem;
    margin:2rem 0rem;
}
.contact-btn{
    color: white;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.contact-btn a{
    color: white;
}
/******FOOTER ****/
.footer{
    height: 100%;
    background: #000718;
}
.totop{
    padding-top: 2rem;
    margin: 2rem 0rem;
    text-align: center;
    cursor: pointer;
    color: white;
}
.socialicons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.socialicons .github{
    width: 30px;
}
.socialicons img{
    margin: 2rem;
    transition: ease 0.25s;
    transform: none;
}
.socialicons img:hover{
    transform: translateY(-20px);
}
.line{
    border-bottom: 2px solid white;
    width: 50%;
    margin: 0 auto;
}

.copyright{
    text-align: center;
    margin-top : 2rem;
    color: white;
    padding-bottom: 2rem;
}



/*****RESPONSIVE DESIGN******/

@media screen and (max-width: 480px) {
    *{
        overflow-x: hidden;
    }
    a{
        font-size: 16px;
    }
    .herotext h1{
        top: 30%;
        font-size: 20px;
        margin-left: 1rem;
    }
    .herotext{
        margin-left: 1rem;
    }
    .btn:hover{
        letter-spacing: 8px;
    }
    .contactsvg{
        display: block;
    }
    .aboutcontent{
        display: flex;
        flex-direction: column;
    }
    .about{
        height: 100%;
        width: 100%;
    }
    .projectheading{
        color: black;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .abouttext{
        margin: 1.6rem 1rem;
    }
    .aboutcontent{
        margin-left: 2rem;
        margin-right: 2rem;
        line-height: 24px;
        color: white;
    }
    .project-content {
        display: flex;
        flex-direction: column;
    }
    .projecttext{
        margin: 1rem 2rem;
    }
    .projectimg{
        width: 100%;
    }
    .projectimg img{
        margin: 0 2.5rem;
        margin-bottom: 2rem;
        width: 300px;
        height: 150px;
    }
    .project-btn-one{
        padding: .65rem .6rem;
    }
    .project-btn-one a:hover{
        letter-spacing: 5px;
    }
    .btntwo{
        padding: .65rem .6rem;
    }
    .contact{
        width: 100%;
        height: 100%;
    }
    .aboutimg img{
        width: 300px;
        height: 300px;
        margin-right: 5rem;
    }
}
@media screen and (max-width: 350px) {
    .projectimg{
        margin-left: -2rem;
    }
}